[Unit]
Description=Killer Game Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/killer
Environment="PYTHONUNBUFFERED=1"
Environment="PORT=8080"
ExecStart=/var/www/killer/.venv/bin/python server.py
Restart=always
RestartSec=5
StandardOutput=file:/var/log/killer.log
StandardError=file:/var/log/killer.error.log
Environment="SERVICE_ACCOUNT_FILE=/var/www/killer/service_account.json"
Environment="SHEET_ID=1ZIiFg_BA7fgpMJfb_s-BmOs_idm3Px_2zWqJ3DLh-dY"
Environment="FLASK_SECRET_KEY=hrzdsdcvdbapmwlskneiu"
Environment="SESSION_FILE_DIR=/var/www/killer/flask_session"
Environment="PORT=8080"
Environment="FLASK_ENV=production"
Environment="USE_CACHE_ON_ERROR=true"
Environment="FLASK_DEBUG=False"

[Install]
WantedBy=multi-user.target
